@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('utils/generic.css');
@import url('utils/matrix.css');

.rotrex, .acero {
  border: 1px solid #1e1e1e;
  padding: 24px;
  display: flex;
  gap: 8px;
  width: 550px;
  margin: 10px auto;
  flex-direction: column;
}

.middle {
  border: 1px solid #1e1e1e;
  padding: 24px;
  gap: 8px;
  display: flex;
  flex-direction: row;
  margin: 10px auto;
  align-items: center;
}

.rotrexImage, .aceroImage {
  width: 40vh;
  height: auto;
  border-radius: 10px;
}