@import url('colors.css');

body {
    background-color: var(--black);
}

.navbar {
  border: 1px solid var(--m_black);
  padding: 16px;
  display: flex;
  gap: 12px;
  box-shadow: 0 0 10px var(--m_black);
}

button {
  background: none;
  border: 0px solid var(--matrix);
  color: var(--matrix);
  padding: 8px 16px;
  cursor: pointer;
  font-family: 'Share Tech Mono', monospace;
  text-shadow: 0 0 10px var(--matrix);
}

button:hover h1,
button:hover h2,
button:hover h3,
button:hover h4,
button:hover h5,
button:hover h6,
button:hover a,
button:hover p {
  color: var(--btn_black);
}

button:hover {
  background: var(--matrix);
  color: var(--btn_black);
}

p {
    color: var(--matrix);
    margin: 10px;
    text-shadow: 0 0 10px var(--matrix);
}

a {
  color: var(--matrix);
  opacity: 0.5;
  text-shadow: 0 0 10px var(--matrix);
}

a:hover {
  opacity: 1;
  text-shadow: 0 0 10px var(--matrix);
}


h1 {
    color: var(--matrix);
    font-family: 'Share Tech Mono', monospace;
    text-align: center;
    text-shadow: 0 0 10px var(--matrix);
}

h2, h3, h4, h5, h6 {
    color: var(--matrix);
    font-family: 'Share Tech Mono', monospace;
    text-shadow: 0 0 10px var(--matrix);
}