@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body {
    background-color: black;
}

.projects-container {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap; 
}

.navbar {
  border: 1px solid #1e1e1e;
  padding: 16px;
  display: flex;
  gap: 12px;
}

button {
  background: none;
  border: 0px solid #00ff99;
  color: #00ff99;
  padding: 8px 16px;
  cursor: pointer;
  font-family: 'Share Tech Mono', monospace;
}

button:hover {
  background: #00ff99;
  color: #0d0d0d;
}

p {
    color: #00ff99;
    margin: 0px;
}

h1 {
    color: #00ff99;
    font-family: 'Share Tech Mono', monospace;
    text-align: center;
}

h2 {
    color: #00ff99;
    font-family: 'Share Tech Mono', monospace
}

.secret_console {
    border: 1px solid #1e1e1e;
    padding: 24px;
    display: flex;
    gap: 8px;
    width: 450px;
    margin: 80px 0 80px 10px; 
    flex-direction: column;
    flex: 1;
    min-width: 250px; 
    max-width: 400px;
}

#matrix {
  position: fixed;  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;     
  opacity: 0.3;
}

.consoleLink, .familyLink {
    opacity: 0.5;
}

.consoleLink:hover, .familyLink:hover {
    opacity: 1;
}

.familydatabase {
  border: 1px solid #1e1e1e;
  padding: 24px;
  display: flex;
  gap: 8px;
  width: 450px;
  margin: 80px 0 80px 10px;
  flex-direction: column;
  flex: 1;
  min-width: 250px; 
  max-width: 400px;
}

.cursor {
    color: #00ff99;
    font-family: 'Share Tech Mono', monospace;
}